{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="jumbotron" style="background-color:#E8DAEF">
  <div class="panel-body">
  {% if registered %}
  <h1> Thank you for registering!</h1>
  <!-- <h2>Hello {{ user.username }}</h2> -->
  <!-- <h2>{{ user.email }}</h2> -->
  <!-- <h2>{{ user.contact }}</h2> -->
{% else %}
<h1>Register here!!</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form.as_myp }}
  {{ profile_form.as_myp }}
  <button type="submit" name="" class="btn btn-lg btn-success" value="Register" style="background-color:#2C3E50; color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;">Register</button>

  <!-- <input type="Submit" value="Register"> -->
</form>
{% endif %}</div>
{% endblock %}
</div>
